@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <img src="~/Img/121245_r0_1140.jpg" width="1040" height="600"/>
</div>

<div class="row">
    <div class="col-md-4">
        
</div>
</div>